*.jpg
*.jpeg
*.png
*.mzML
*.pth
__pycache__/

# MRMPFormer 训练产物
MRMPFormer/logs/
output/
data/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

